.card img{
    width: 150px;
    height: 145px;
    margin-bottom: 15px;
}
body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
   
}
.card-img-actions{
    position: relative;
}
a{
    text-decoration: none;
}
/* Add this CSS in your styles or a separate stylesheet */
.hover-effect:hover {
    transform: scale(1.1); /* Increase the scale on hover for a zoom effect */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  