img{
    width:100%;
    height: 400px;
    object-fit: contain;
}
.product-detail{
    margin-top: 40px;
    margin-bottom: 80px;
}
.cart-button {
    width: 150px; /* Set a fixed width for the buttons */
}
/* Add this CSS in your styles or a separate stylesheet */
.hover-effect:hover {
    transform: scale(1.1); /* Increase the scale on hover for a zoom effect */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  